@charset "utf-8";

.App {
    position: relative;
    margin: 0 auto;
}
.Home{
    position: relative;
    height: 100vh;
    overflow: hidden;
}
.Home .side{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: bisque;
    z-index: 10;
    transform: translateX(100%); /* 사이드 메뉴를 화면 오른쪽으로 밀어 숨김 */
    transition: transform 0.5s ease;
}

.Home .side.open{
    transform: translateX(0); 
}

.Home .logoutBtn{
    cursor: pointer;
}

.disabled{
    color: #aaa;
}
.selected{
    color: red;
}
.today{
    background-color: aquamarine;
}
.valid{
    font-weight: 700;
}